	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Overzicht van de top 50 gebouwen in Amsterdam">
	<title>Popular buildings of Amsterdam</title>
	<link rel="stylesheet" href="/css/bundle.css">
	<link rel="manifest" href="/manifest.json">
