<body>
	<header>
		<h1>Top 50 historische gebouwen van Amsterdam</h1>
		<p class="intro">Op deze kaart ziet u een overzicht van de vijftig populairste historische gebouwen die Amsterdam te bieden heeft. Dit wordt bepaald door het aantal afbeeldingen van de gebouwen die in het archief staan. Klik op een cirkel om meer informatie over een
			gebouw te krijgen.
		</p>
		<div class="header-controls">
			<i class="fa fa-chevron-down" aria-hidden="true"></i>
			<i class="fa fa-chevron-up" aria-hidden="true"></i>
		</div>
	</header>
