<% include partials/head.ejs %>

    <body>
        <% include header.ejs %>

                <% for(var i = 0; i < building.length; i++) {%>
                    <a href="/buildings/<%= building[i].building.value.replace(/^https?:\/\//, '').split('/')[3]%>">
                        <h1><%= building[i].buildingLabel.value %></h1>
                    </a>
                    <% } %>
                        <%# <script type="text/javascript" src="js/bundle.js"></script> %>
						<% include map.ejs %>
    </body>

    </html>
