/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css");
@import url("https://fonts.googleapis.com/css?family=Rozha+One");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700");
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after, blockquote:before {
  content: '';
  content: none; }

q:after, q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body,
html {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Titillium Web', Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.9); }

body > header {
  padding: 1.7em;
  max-width: 65em;
  height: 10.5em;
  margin: auto;
  overflow: hidden;
  z-index: 3;
  transition: all 0.3s; }
  body > header h1 {
    font-size: 2.25em;
    font-family: 'Rozha One';
    line-height: 1.2;
    color: #fff; }
  body > header .intro {
    color: #fff;
    line-height: 1.4;
    margin-top: 0.5em;
    max-width: 40em; }
    body > header .intro.show {
      opacity: 0.8; }
  body > header.hidden {
    height: 9.6em; }
  body > header .header-controls {
    width: 100%;
    display: flex;
    height: 2em;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-wrap: wrap;
    bottom: 0;
    left: 0; }
    body > header .header-controls svg {
      fill: #fff;
      transform: scale(0.06);
      cursor: pointer; }
    body > header .header-controls .fa-chevron-down,
    body > header .header-controls .fa-chevron-up {
      display: none;
      color: #fff;
      cursor: pointer; }
    body > header .header-controls .fa-chevron-down.show,
    body > header .header-controls .fa-chevron-up.show {
      display: block; }

@media (max-width: 50em) {
  body > header {
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: auto; }
    body > header h1 {
      font-size: 1.9em; }
    body > header p {
      display: none; }
    body > header .fa-chevron-down,
    body > header .fa-chevron-up {
      display: none !important; } }

.marker {
  transition: opacity 0.1s ease-in;
  border-radius: 50%;
  cursor: pointer; }

.mapboxgl-popup {
  z-index: 2; }

.mapboxgl-popup-tip {
  z-index: 3; }

.mapboxgl-popup-content {
  font-weight: 600;
  padding: 10px;
  z-index: 2; }

#map {
  height: 100vh;
  width: 100vw;
  position: fixed; }

#detail {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: 66; }

.overview-wrapper {
  max-width: 65em;
  padding: 0 1em;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1em; }

.overview-wrapper ul {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  color: #fff;
  width: 100%;
  display: grid;
  grid-gap: 20px; }

.overview-wrapper ul li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1C2541;
  transition: 0.3s ease;
  border-radius: 3px; }

.overview-wrapper ul li:hover {
  background-color: rgba(91, 192, 190, 0.5); }

.overview-wrapper ul li img {
  object-fit: cover;
  width: 100%; }

.overview-wrapper ul li a {
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1em; }

.detail-wrapper {
  max-width: 70em;
  margin: 2em auto;
  padding: 0 1em;
  position: relative;
  /* ---- .grid-item ---- */ }
  .detail-wrapper header h2 {
    font-size: 2.5em;
    font-family: 'Rozha One';
    text-align: center;
    font-weight: 700;
    color: #fff; }
  .detail-wrapper header p {
    color: #fff;
    text-align: center;
    opacity: 0.7;
    margin-top: 0.3em; }
  .detail-wrapper header .desc {
    max-width: 45em;
    opacity: 1;
    text-align: center;
    margin: 1.2em auto;
    line-height: 1.4; }
  .detail-wrapper .grid-item,
  .detail-wrapper .grid-sizer {
    width: calc(20% - 4px);
    margin-bottom: 5px;
    float: left; }
  @media (max-width: 1068px) {
    .detail-wrapper .grid-item,
    .detail-wrapper .grid-sizer {
      width: calc(33.333% - 4px); } }
  @media (max-width: 768px) {
    .detail-wrapper .grid-item,
    .detail-wrapper .grid-sizer {
      width: calc(50% - 4px); } }
  @media (max-width: 500px) {
    .detail-wrapper .grid-item,
    .detail-wrapper .grid-sizer {
      width: calc(100% - 4px);
      margin-bottom: 1em; } }
  .detail-wrapper .grid-item {
    position: relative;
    overflow: hidden; }
    .detail-wrapper .grid-item:focus img,
    .detail-wrapper .grid-item:hover img {
      transform: scale(1.1); }
  .detail-wrapper .grid-item img {
    display: block;
    max-width: 100%;
    cursor: pointer;
    transition: all 0.3s; }
  .detail-wrapper .back-button {
    position: fixed;
    left: 2em;
    top: 2em;
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    z-index: 99; }
    .detail-wrapper .back-button svg {
      height: 12px;
      width: 12px;
      transform: scale(1.7);
      margin-right: 0.8em; }
    .detail-wrapper .back-button svg path {
      fill: #fff; }
    .detail-wrapper .back-button:focus, .detail-wrapper .back-button:hover {
      text-decoration: underline; }

.preview {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 199;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9); }
  .preview.show {
    display: flex; }
  .preview .close-button {
    position: fixed;
    right: 2em;
    top: 2em;
    height: 16px;
    width: 12px;
    transform: scale(2);
    cursor: pointer; }
    .preview .close-button svg line {
      stroke: #fff; }

button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0; }

.detail-controls {
  margin-top: 2.5em;
  margin-bottom: 1em;
  color: #fff;
  display: flex;
  align-items: center; }
  .detail-controls h5 {
    font-size: 1.25em; }
  .detail-controls .sort-button {
    margin-left: auto;
    cursor: pointer; }
    .detail-controls .sort-button .fa-chevron-down,
    .detail-controls .sort-button .fa-chevron-up {
      display: none;
      margin-left: 5px;
      text-decoration: none; }
      .detail-controls .sort-button .fa-chevron-down.show,
      .detail-controls .sort-button .fa-chevron-up.show {
        display: inline; }
    .detail-controls .sort-button:focus, .detail-controls .sort-button:hover {
      text-decoration: underline;
      outline: none; }
  .detail-controls .search {
    width: 16em;
    height: 2.7em;
    border: none;
    margin-left: 2em;
    padding: 0.6em;
    font-size: 0.9em;
    z-index: 99;
    font-family: 'Titillium Web', sans-serif;
    border-radius: 3px; }

@media (max-width: 500px) {
  .search {
    display: none; }
  .sort-button {
    display: none; }
  .detail-wrapper header {
    margin-top: 4.5em; }
  .mapboxgl-ctrl-top-right {
    display: none; }
  body > header {
    text-align: center;
    font-size: 0.7em;
    min-width: 100%; } }

.error {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none; }
  .error h3 {
    font-size: 1.5em;
    font-weight: 600; }
  .error.show {
    display: flex; }

.loader {
  display: none;
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
  .loader.show {
    display: block; }

.loader .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.loader .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both; }

.loader .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg); }

.loader .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg); }

.loader .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.loader .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg); }

.loader .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg); }

.loader .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.loader .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg); }

.loader .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg); }

.loader .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.loader .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg); }

.loader .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg); }

.loader .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.loader .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

.loader .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.loader .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

.loader .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s; }

.loader .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }

.loader .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.loader .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }

.loader .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }

.loader .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }

.loader .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s; }

@-webkit-keyframes sk-circleFadeDelay {
  0%,
  100%,
  39% {
    opacity: 0; }
  40% {
    opacity: 1; } }

@keyframes sk-circleFadeDelay {
  0%,
  100%,
  39% {
    opacity: 0; }
  40% {
    opacity: 1; } }
